.posts-heading {
    margin: 2em;
}

.posts-actions {
    margin: 0 2em;
}

.posts-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1px;
}

.posts-item {
    margin: 0 0 1px 1px;
    width: calc(100% - 1px);
}

.posts-item .post-partial {
    height: 100%;
}

@media screen and (min-width: 40.0625em) {
    .posts-item {
        width: calc(50% - 1px);
    }
}

@media screen and (min-width: 60.0625em) {
    .posts-item {
        width: calc(33.33333% - 1px);
    }
}