.vote {}

.vote-options {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.vote-score {
    list-style: none;
    margin: 0 1em .5em;
    width: 100%;
}

.vote-score span {
    vertical-align: middle;
}

.vote-score svg {
    margin: 0 0 0 .5em;
}

.vote-option {
    list-style: none;
    margin: 0 1em .5em;
    width: calc(50% - 1em);
}

.vote-button {
    width: 100%;
}

.upvote {}

.downvote {
    background-color: #c9322c;
}

.downvote:hover {
    background-color: #A62621;
}

.downvote svg,
.upvote svg {
    fill: #fff;
}

@media screen and (min-width: 40.0625em) {
    .vote-option {
        width: auto;
    }
}
