.post-full {}

.post-full-backlink {
    padding: 1em 2em;
}

.post-full-backlink span {
    margin: 0 0 0 0.5em;
    vertical-align: middle;
}

.post-full-list {}

.post-full-article {
    background: #fff;
    margin: 0 0 2em;
    padding: 1em 2em 1.5em;
}

.post-full-header {}

.post-full-meta {
    margin: 0 0 2em;
}

.post-full-meta small {
    display: block;
}

.post-full-content {
    background: #fff;
}

.post-full-body {
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 2em;
    margin: 0 0 2em;
}

.post-full-vote {
    margin: 0 0 2em;
}

.post-full-actions {
    display: flex;
    margin: 0 -1em;
}

.post-full-action {
    list-style: none;
}

.post-full-comment-form {
    margin: 0 2em 2em;
}

.post-full-comments {
    margin: 0 2em 2em;
}

.post-full-comment {
    border-top: 1px solid #e4e4e4;
    margin: 2em 0 0;
    padding: 2em 0 0;
}

.post-full-comment:first-child {
    border-top: 0;
    margin: 0;
    padding: 0;
}
