.post-partial {
    background-color: #fff;
    padding: 2em;
    transition: transform 0.1s ease-in-out;
}

.post-partial:hover {
    box-shadow: 0 0 .375em #ccc;
    transform: scale(1.05);
}

.post-partial-meta {
    margin: 0 0 1em;
}

.post-partial-meta small {
    display: block;
    margin: 0 0 .5em;
}

.post-partial-body {
    margin: 0 0 1em;
}

.post-partial-footer {
    border-top: 1px solid #e4e4e4;
    padding-top: 1em;
}

.post-partial-vote {
    margin: 0 0 1em;
}

.post-partial-actions {
    display: flex;
    margin: 0 -1em;
}

.post-partial-action {
    list-style: none;
}
