.sort {
    display: flex;
    margin: 0 -2em;
}

.sort-item {
    margin: 0 1em 1.5em;
    width: 50%;
}

.sort-item-label {
    display: block;
    font-weight: bold;
    margin: 0 0 0.5em 1em;
}

.sort-item-select {
    margin: 0 0 0.5em 1em;
    width: 100%;
}

@media screen and (min-width: 20.0625em) {
    .sort-item {
        width: auto;
    }

    .sort-item-label {
        display: inline-block;
    }

    .sort-item-select {
        width: auto;
    }
}
