.message {
    background-color: #ccc;
    color: #fff;
    padding: 2em;
    position: fixed;
    right: 0;
    top: 2em;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
}

.message-active {
    transform: translateX(-2em);
}

.message-error {
    background-color: #c9322c;
}

.message-success {
    background-color: #64a816;
}
